[submodule "zsh-autosuggestions"]
	path = zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh-colored-man-pages"]
	path = zsh-colored-man-pages
	url = https://github.com/ael-code/zsh-colored-man-pages.git
[submodule "spaceship-prompt"]
	path = spaceship-prompt
	url = https://github.com/spaceship-prompt/spaceship-prompt.git
